{{ 'cs-image-text.css' | asset_url | stylesheet_tag }}
{%- style -%}
      .section--{{ section.id }} {
        background-color: {{ section.settings.background_c }};
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    @media (max-width: 767px) {
        .section--{{ section.id }} {
            padding-top: {{section.settings.padding_top_m}}px;
            padding-bottom: {{section.settings.padding_bottom_m}}px
        }
    }
{%- endstyle -%}
<div class="custom-image-text section--{{section.id}}">
    <div class="container">
        {% for block in section.blocks %}
            <div class="item">
                <div class="image">
                    {{ block.settings.image | img_url: '200x' | img_tag}}
                </div>
                <div class="letter">
                    <h2> {{ block.settings.title }} </h2>
                    <div class="text"> {{ block.settings.text }} </div>
                </div>                
                
            </div>     

        {% endfor %}
    </div>
</div>



{% schema %}
    {
        "name": "Custom Image Text",
        "settings": [
            {
                "type": "color",
                "id": "background_c",
                "label": "Background"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding Top",
                "min": 0,
                "max": 100,
                "step": 5,
                "default": 35
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding Bottom",
                "min": 0,
                "max": 100,
                "step": 5,
                "default": 35
            },
            {
                "type": "range",
                "id": "padding_top_m",
                "label": "Mobile Padding Top",
                "min": 0,
                "max": 100,
                "step": 5,
                "default": 35
            },
            {
                "type": "range",
                "id": "padding_bottom_m",
                "label": "Mobile Padding Bottom",
                "min": 0,
                "max": 100,
                "step": 5,
                "default": 35
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Text"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text",
                        "default": "<p></p>"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Custom Image Text"
            }
        ]
        
    }
{% endschema %}
